/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a2540;
    padding: 15px 30px;
}

.logo {
    color: #ffffff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a.active,
.nav-links a:hover {
    color: #00d4ff;
}

/* Hero Section */
.hero {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 20px;
    color: #444;
}

.btn {
    padding: 10px 20px;
    background: #0a2540;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Services */
.services {
    padding: 40px;
    background: #f4f4f4;
    text-align: center;
}

.service-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 180px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Content Pages */
.content {
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

.content h2 {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #0a2540;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .service-box {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
    }
}
/* image Design */
.sims-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
